@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


:root {
    --colorbody: #F6F8FF;
    --colorbtn: #697c9a;
    --colorinput: #ffffff;
    --colorbox: #ffffff;
    --colornumbers: #F6F8FF;
    --colorh1: #222731;
    --colorh2: #697c9a;
    --coloricon: #9b9b9b;
    --colorrepos: #4B6A9B;
    --colorfollowers: #4B6A9B;
    --colorfollowing: #4B6A9B;
    --colorp1: #2B3442;
    --placeholdercolor: #4B6A9B;
    --colorimg: #4B6A9B  brightness(93%);            /*invert(41%) sepia(8%) saturate(2712%) hue-rotate(178deg) brightness(93%) contrast(86%); /
    */

   /* --colorbodyDark: #F6F8FF;
    --colorinputDark: #ffffff;
    --colorboxDark: #ffffff;
    --colornumbersDark: #F6F8FF;
    --colorh1Dark: #222731;
    --colorh2Dark: #697c9a;
    --coloriconDark: #9b9b9b;
    --colorreposDark: #4B6A9B;
    --colorfollowersDark: #4B6A9B;
    --colorfollowingDark: #4B6A9B;
    --colorp1Dark: #2B3442;
    --placeholdercolorDark: #4B6A9B;*/
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--colorbody);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 730px;
    max-height: 590px;
    margin-top: 145px;
    font-family: 'Space Mono', monospace;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*
.btn-color {

}*/

.sun {
    border: none;
    background-color: var(--colorbody);
    color: #697c9a;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    line-height: 19px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin-right: 10px; 
    display: none;
}
.sun-icon {
    margin-left: -30px;
    display: none;
}

.moon {
    border: none;
    background-color: var(--colorbody);
    color: var(--colorbtn);
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    line-height: 19px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin-right: 10px;
}
.moon-icon {
    margin-left: -30px;
}

.search-field {
    display: flex;
    flex-direction: row;
    background-color: var(--colorinput);
    border-radius: 15px;
    align-items: center;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

.search-icon {
    position: absolute;
    margin: 0px 10px;
}

input {

    height: 70px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    border-radius: 15px;
    border: none;
    padding-left: 50px;
    background-color: var(--colorinput);
}

::placeholder {
    color: var(--placeholdercolor);
    font-family: 'Space Mono';
    font-size: 18px;
    line-height: 25px;
}

button {
    background-color: #0079FF;
    color: white;
    width: 105px;
    height: 50px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 340px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #60ABFF;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: var(--colorbox);
    border-radius: 15px;
    align-items: flex-end;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    width: 100%;
}

.profil-card {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 45px;
    width: 100%;
}

.photo {
    border: 1px solid black;
    width: 25%;
    max-height: 120px;
    margin-left: 40px;
}

.profil-base {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 75%;
    padding-left: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.date {
    align-items: flex-end;
    width: 40%;
}

.profil-text {
    margin-bottom: 50px;
}

.data-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
    max-width: 480px;
    width: 75%;
    margin-right: 33px;
    margin-bottom: 35px;
}

.numbers {
    display: flex;
    flex-direction: row;
    gap: 90px;
    font-size: 13px;
    width: 100%;
    padding-left: 25px;
    border-radius: 15px;
    background-color: var(--colornumbers);
}

.repos {
    color: var(--colorrepos);
}
.followers {
    color: var(--colorfollowers);
}
.following {
    color: var(--colorfollowing);
}

.p1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    color: var(--colorp1);
}


.links {
    display: flex;
    flex-direction: row;
    gap: 65px;
    margin-right: 60px;
}

.left-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    color: var(--colorh1);
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
}

h2 {
    color: var(--colorh2);
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

h3 {
    color: #0079FF;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

i {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    color: var(--coloricon);
    line-height: 22px;
}

i img {
    filter: var(--colorimg);
}






@media (max-width: 770px) {

    section {
        max-width: 730px;
        width: auto;
    }

    .box {
        flex-direction: column;
        align-self: center;
        justify-content: center;
        align-content: center;
    }

    .profil-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .profil-base {
        flex-direction: column;
        gap: 15px;
    }

    .text {
        width: 65%;
    }

    .name {
        width: 100%;
    }

    .date {
        width: 100%;
    }

    .profil-text {
        width: 100%;
        margin-left: -140px;
        padding-top: 40px;
    }

    .data-card {
        width: auto;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .numbers {
        gap: 50px;
        width: 90%;
    }

    .links {
        margin-left: 30px;
    }
}


@media (max-width: 375px) {
    
    section {
        margin-top: 30px;
        margin-bottom: 0px;
        height: 100%;
    }

    .header{
        width: 100%;
        height: 45px;
        padding-left: 25px;
        padding-right: 25px;
    }

    form {
        width: 90%;
        justify-content: center;
        text-align: center;
        align-content: center;
        align-items: center;
        margin: auto;
    }

    input {
        height: 60px;
        font-size: 13px;
    }

    button {
        width: 85px;
        height: 50px;
        font-size: 14px;
        margin-left: -100px;
    }

    .box {
        width: 90%;
        margin: auto;
    }

    .profil-card {
        margin-top: 30px;
    }

    .photo {
        width: 70px;
        height: 70px;
    }

    .username {
        font-size: 16px;
    }

    h3 {
        font-size: 13px;
    }

    h2 {
        font-size: 13px;
    }

    .profil-text {
        width: auto;
        padding-top: 20px;
        margin-top: 0px;
        margin-left: -100px;
        margin-right: 25px;
    }

    .data-card {
        width: 100%;
        max-width: 280px;
        max-height: 90%;
        margin: auto;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .numbers {
        font-size: 11px;
        gap: 5px;
    }

    .repos {
        width: 27%;
    }
    .followers {
        width: 35%;
    }
    .following {
        width: 30%;
    }

    .links {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        align-content: flex-start;
    }

    .left-links {
        gap: 15px;
        align-content: flex-start;
        align-items: flex-start;
    }

    .right-links {
        gap: 15px;
        align-content: flex-start;
        align-items: flex-start;
    }

    i {
        font-size: 13px;
    }
}